<h1>Listado planes</h1>

<table class=table>
  <tr>
    <th>Nombre</th>
    <th>Velociad</th>
    <th>Importe</th>
    <th>Recargo 1</th>
    <th>Recargo 2</th>
    <th>Eliminado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @planes.each do |plane| %>
  <tr>
    <td><%= plane.pl_nombre %></td>
    <td><%= plane.pl_vel %></td>
    <td><%= plane.pl_importe %></td>
    <td><%= plane.pl_recar1 %></td>
    <td><%= plane.pl_recar2 %></td>
    <td><%= plane.pl_elim %></td>
    <td><%= link_to 'Show', plane %></td>
    <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
    <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Plan', new_plane_path %>
