<p id="notice"><%= notice %></p>

<p>
  <b>Pl nombre:</b>
  <%= @plane.pl_nombre %>
</p>

<p>
  <b>Pl importe:</b>
  <%= @plane.pl_importe %>
</p>

<p>
  <b>Pl importe:</b>
  <%= @plane.pl_importe %>
</p>

<p>
  <b>Pl vel:</b>
  <%= @plane.pl_vel %>
</p>

<p>
  <b>Pl elim:</b>
  <%= @plane.pl_elim %>
</p>

<p>
  <b>Pl user:</b>
  <%= @plane.pl_user %>
</p>

<p>
  <b>Pl recar1:</b>
  <%= @plane.pl_recar1 %>
</p>

<p>
  <b>Pl recar1:</b>
  <%= @plane.pl_recar1 %>
</p>

<p>
  <b>Pl recar2:</b>
  <%= @plane.pl_recar2 %>
</p>

<p>
  <b>Pl recar2:</b>
  <%= @plane.pl_recar2 %>
</p>


<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
