<h1>Listado de Marcas </h1>

<table class=table>
  <tr>
    <th>Nombre</th>
    <th>Observaciones</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @makes.each do |make| %>
  <tr>
    <td><%= make.mc_name %></td>
    <td><%= make.mc_observation %></td>
    <td><%= link_to 'Agregar Modelo', new_make_model_path(make.id) %></td>
    <td><%= link_to 'Ver', make %></td>
    <td><%= link_to 'Editar', edit_make_path(make) %></td>
    <td><%= link_to 'Eliminar', make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Marca', new_make_path %>
