<h1>Listado Localidades</h1>

<table class=table>
  <tr>
    <th>Nombre</th>
    <th>Dpto</th>
    <th>Cp</th>
    <th>Provincia</th>
    <th>Pais</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @localidades.each do |localidade| %>
  <tr>
    <td><%= localidade.lc_nombre %></td>
    <td><%= localidade.lc_dpto %></td>
    <td><%= localidade.lc_cp %></td>
    <td><%= localidade.lc_provincia %></td>
    <td><%= localidade.lc_pais %></td>
    <td><%= link_to 'Show', localidade %></td>
    <td><%= link_to 'Edit', edit_localidade_path(localidade) %></td>
    <td><%= link_to 'Destroy', localidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Localidad', new_localidade_path %>
