<p id="notice"><%= notice %></p>

<p>
  <b>Lc nombre:</b>
  <%= @localidade.lc_nombre %>
</p>

<p>
  <b>Lc dpto:</b>
  <%= @localidade.lc_dpto %>
</p>

<p>
  <b>Lc cp:</b>
  <%= @localidade.lc_cp %>
</p>

<p>
  <b>Lc provincia:</b>
  <%= @localidade.lc_provincia %>
</p>

<p>
  <b>Lc pais:</b>
  <%= @localidade.lc_pais %>
</p>


<%= link_to 'Edit', edit_localidade_path(@localidade) %> |
<%= link_to 'Back', localidades_path %>
