<p id="notice"><%= notice %></p>

<p>
  <b>Mkcusuario:</b>
  <%= @mktcx.mkcusuario %>
</p>


<p>
  <b>Mkcip:</b>
  <%= @mktcx.mkcip %>
</p>


<%= link_to 'Edit', edit_mktcx_path(@mktcx) %> |
<%= link_to 'Back', mktcxes_path %>
